[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/venukrt
[access "refs/for/refs/*"]
	read = group user/venukrt
	push = group user/venukrt
	label-Code-Review = -2..+2 group user/venukrt
	label-Verified = -1..+1 group user/venukrt
	rebase = group user/venukrt
	removeReviewer = group user/venukrt
	submit = group user/venukrt
[access "refs/heads/*"]
	read = group user/venukrt
	create = group user/venukrt
	push = +force group user/venukrt
	pushMerge = group user/venukrt
[access "refs/tags/*"]
	push = group user/venukrt
	push = +force group user/venukrt
